.page-main-view {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    flex-direction: row;
    border-radius: 20px;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 60px;
}

.page-main-view-dark {
    background-color: rgb(15, 15, 15);
}

.page-main-view-light {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
}

.remarked-dark {
    color: rgb(63, 0, 105);
}

.remarked-light {
    color: rgb(255, 104, 17);
}

.text-box {
    padding: 20px;
    background-color: inherit;
    color: inherit;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.text-box>h1 {
    margin: 0px;
}

.text-box-dark>p {
    color: gray;
}

.text-box-buttons-light>button {
    border: none;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.search-streaming-nav-bar {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(10, 10, 10);
    padding: 5px;
}

.search-streaming-nav-bar>button {
    border: none;
}

.search-streaming-nav-bar-dark {
    border-radius: 20px;
}

.search-streaming-nav-bar-light {
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
}

.container {
    padding: 5px;
    border-radius: 10px;
}

.container-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-filter-light>button {
    border: none;
}

.options {
    padding: 10px;
    width: 300px;
    height: 110px;
    overflow-y: scroll;
    border-radius: inherit;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    scrollbar-width: thin;
}

.container-dark {
    background-color: rgb(10, 10, 10);
    border-radius: inherit;
}

.container-light {
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.05);
}

.container-light>button {
    background-color: black;
    border-radius: 15px;
    border: none;
    color: white;
    box-shadow: 0 -20px 10px 10px rgba(255, 255, 255, 0.7);
}

.container>button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 95%;
}

.container-dark>button {
    background-color: white;
    color: black;
}

.options::-webkit-scrollbar {
    width: 8px;
}

.options::-webkit-scrollbar-track {
    background: transparent;
}

.options::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.options-dark {
    background-color: inherit;
}

.pressed-button-dark {
    background-color: rgb(20, 20, 20);
}

.unpressed-button-dark {
    background-color: inherit;
}

.unpressed-button-light {
    background-color: inherit;
}

.pressed-button-light {
    background-color: rgb(230, 230, 230);
}

.options-light {}

.welcome-page {
    display: flex;
    flex: 1;
    padding: 10px;
    background-image: url("../../../assets/images/dark_theme_background.jpg");
    min-width: 250px;
    min-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    flex-direction: column;
}

.users-added {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    max-width: 250px;
}

.clock {
    display: flex;
    border-radius: 30px;
    height: fit-content;
    padding: 0px;
    margin-top: 30px;
    padding: 3px;
    font-size: medium;
    background-color: white;
    color: black;
    width: fit-content;
}

.paragraph-remarked {
    color: inherit;
    text-decoration: underline;
}

.normal-paragraph-dark {
    color: gray
}

.normal-paragraph-light {
    color: inherit
}

.search-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: inherit;
}