.main-view {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-view-dark {
    background-color: rgb(10, 10, 10);
    border: solid rgb(10, 10, 10);
    color: white;
}

.main-view-light {
    background-color: rgb(230, 230, 230);
    border: solid rgb(230, 230, 230);
    color: black;
}