.category-item {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-height: 80px;
    border-radius: 7px;
    padding: 10px;
    transition: all 0.3s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.category-item-light>h3 {
    display: flex;
    background-color: rgb(245, 245, 245, 0.85);
    border-radius: 15px;
    width: fit-content;
    padding-left: 3px;
    padding-right: 3px;
}

.category-item-light>h2 {
    display: flex;
    background-color: rgb(245, 245, 245, 0.45);
    border-radius: 15px;
    width: fit-content;
    padding-left: 3px;
    padding-right: 3px;
}

.category-item-dark>h3 {
    display: flex;
    background-color: rgb(25, 25, 25, 0.45);
    border-radius: 15px;
    width: fit-content;
    padding-left: 3px;
    padding-right: 3px;
}

.category-item-dark>h2 {
    display: flex;
    background-color: rgb(25, 25, 25, 0.45);
    border-radius: 15px;
    width: fit-content;
    padding-left: 3px;
    padding-right: 3px;
}

.category-item-light {
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.category-item-dark {
    background-color: rgb(15, 15, 15);
}

.category-item>h3 {
    margin-top: 0;
    opacity: 0.5;
}

.category-item:hover {
    cursor: pointer;
    border: solid 1px;
}

.category-item-dark:hover {
    background-color: rgb(245, 245, 245);
}

.category-item-light:hover {
    background-color: rgb(20, 20, 20);
}

h2 {
    margin-top: 0;
}